  
  .detailsContainer {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    padding-top: 0.5rem;
    margin-left: 1rem;
    border-style: none;
    border-radius: 5px;
    background-color: #f0eaea;
    max-width: 95%;
  }
  
  .detailItem {
    flex: 1;
    display: grid;
    align-items: center; 
    justify-content: center; 
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    border-right: red;
    font-size: 13px;
    font-weight: bold;
    color: #333;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-color: rgb(118, 116, 116);
  }

  .detailItem h2{
    font-size: 17px;
    font-weight: bold;
    
  }
  